body{
    background-color: rgb(42, 49, 51);
    display: flex;
    justify-content: center;
}

.game-board{
    /* 400 + 10*border */
    width: 420px;
    height: 420px;
    background-color:  rgb(20, 27, 28);
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    justify-content: center;
    margin-top: 40px;
}

.display-board{
    display: flex;
    flex-direction: column;
}

.button-board{
    display: flex;
    justify-content: space-around;
}

.button{
    margin-top: 20px;
    height: 30px;
    width: 70px;
}

.cell{
    width: 80px;
    height: 80px;
    border: 2px solid black;
}

.dead{
    background-color: rgb(180, 180, 180);
}

.live{
    background-color: rgb(52, 87, 93)
}